<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <!-- Boostrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h1>Base de datos</h1>
    <input id='name' placeholder="Nombre">
    <br>
    <input id='apellido' placeholder="Apellido">
    <br>
    <input id='edad' placeholder="Edad">
    <br>
    <input id='ci' placeholder="CI">
    <br>
    <button id='subir' action='/add' method POST>Subir</button>
    <br>
    <div id='buscador'>
        <button id=buscar>Buscar</button>
        <div id=result></div>
    </div>
</body>
</html>